# Node.js (React frontend)
node_modules/
build/
dist/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.DS_Store

# React specific
public/static/
coverage/
.vscode/
.idea/
*.cache
*.lock

# Spring Boot (Java backend)
target/
*.jar
*.war
*.ear
*.class
*.log
hs_err_pid*
*.iml
.mvn/
.m2/
out/
spring.log
backend/digitaltimecapsule/src/main/resources/application.properties

# IntelliJ IDEA / Eclipse / VSCode / NetBeans
.idea/
*.iws
*.ipr
*.iml
*.classpath
*.project
*.settings/
.vscode/
nbproject/

# OS-specific
Thumbs.db
.DS_Store
*.swp
*.swo

# Docker
docker-compose.override.yml
